.bannerHeader{
	background-color: #2f3240;;
	xpadding: 12px 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 12px;

}

.bannerHeader .banner{
	max-height: 150px;
	width: 100%;
	object-fit: cover;
	object-position: bottom center;
}